.header__link {
    font-weight: 40;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 6px;
}

@media screen and (max-width: 767px) {
    .header__link {
        align-self: flex-end;
        padding: 0;
        margin-right: 30px;
        margin-bottom: 33px;
        position: fixed;
    }
}