.footer {
    display: flex;
    margin: 67px auto 60px;
    max-width: 880px;

}

@media screen and (max-width: 1023px) {
    .footer {
        margin: 48px 45px 36px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        margin: 48px 19px 36px;
    }
}