.profile__edit-button {
    all: unset;
    background-image: url(../../../images/marker.svg);
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ffffff;
    padding: 7px;
    margin: 37px 0 0 17px;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: .6;
    transition: .5s;
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
        max-width: 282px;
        width: 7.5px;
        height: 7.5px;
        padding: 5.25px;
        margin: 0;
        align-self: center;
    }
}